<a href="https://colab.research.google.com/github/pujaroy280/Data-Analytics-Microcredential/blob/main/(PR)Basics_Part_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python part III

# Condition and loops!!!

# Conditions

## IF... ELSEIF... ELSE Statements!!!

In [ ]:
"""
if (condition):
    do something
"""

In [ ]:
if 3 > 2:
  print("Right")

Right

In [ ]:
if 4 > 7:
    print("Right")
else:
    print("Wrong")

Wrong

In [ ]:
a = 3
b = 4

if a > b:
  print("Yes, it is right")
else:
    print("try again")

try again

In [ ]:
drink = "Tea"

if drink == "Coffee":
    print("Humanity runs on coffee")
else:
    print("Where there is tea, there is hope")

Where there is tea, there is hope

In [ ]:
drink = "Coke"

if drink == "Coffee":
    print("Humanity runs on coffee")
elif drink == "Water":
    print ("Water is the soul of Earth")
elif drink == "Coke":
    print("Coke is the new fuel for the programmer")
else:
    print("Where there is tea, there is hope")

"""
So far we've been working on condititionals. Just syntax to learn; if, elif, else. Also
some logical operators such as '==' to check if values are equal to eachother.

"""

Coke is the new fuel for the programmer

## Loops!!!

### For Loops

In [ ]:
# Only two loops in Python: for loops and while loops

my_list = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in my_list:
    if i % 2 == 0:
        print(i)
# print even numbers

2
4
6
8
10

In [ ]:
for i in my_list:
    if i % 2 != 0:
        print(i)

# print odd numbers

1
3
5
7
9

In [ ]:
my_list = [1 , 2, 3, 4, 5, 45, 6, 34, 980, 3756, 26]
list_sum = 0

for num in my_list:
    list_sum = list_sum + num
print(list_sum)

# Initialize a variable to hold sum with 0.
# Iterate through list, adding the sum variable
# then print the sum.

4862

In [ ]:
my_string = "Hello world"

for x in my_string:
    print(x)

H
e
l
l
o

w
o
r
l
d

In [ ]:
my_list = [(1,2), (3,4), (5,6), (7,8)]
len(my_list)

# there are 4 tuples

4

In [ ]:
for tup in my_list:
    print(tup)

# print tuples in my_list

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [ ]:
for a,b in my_list:
    print(a,b)

# print tubles, but without the parenthesis

1 2
3 4
5 6
7 8

In [ ]:
for a,b in my_list:
    print(a)

# assign for each tuple (x,y), a=x and b=y

1
3
5
7

In [ ]:
for a,b in my_list:
    print(b)

# assign for each tuple (x,y), a=x and b=y

2
4
6
8

In [ ]:
my_list = [(1,2,3), (4,5,6), (7,8,9)]

# tuples with 3 values

In [ ]:
for a,b,c in my_list:
    print(b,c)

# print the last 2 values in each tuple

2 3
5 6
8 9

In [ ]:
my_dict = {"k1":1, "k2":2, "k3":3}

In [ ]:
for i in my_dict:
    print(i)

# print keys of dict

k1
k2
k3

In [ ]:
my_dict.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [ ]:
for i in my_dict.items():
    print(i)

# iterate through dict, print keys and values

('k1', 1)
('k2', 2)
('k3', 3)

In [ ]:
for a,b in my_dict.items():
    print(b)

# iterate and print only values in dict

1
2
3

## While loops

In [ ]:
i = 0

while i < 5:
    print(i)
    i = i + 1

0
1
2
3
4

In [ ]:
i = 0

while i < 5:
    print(i)
    i = i + 1
else:
    print("i is not less than 5")

0
1
2
3
4
i is not less than 5

In [ ]:
i = 10

while i < 5:
    print(i)
    i = i + 1
else:
    print("i is not less than 5")

i is not less than 5

### Pass, break, and Continue

In [ ]:
l = [1, 2, 3, 4, 5]

for items in l:
    #
    pass
print("I will work after!!")

I will work after!!

In [ ]:
my_string = "Hello World"

for letters in my_string:
    if letters == "r":
        break
    print(letters)

# 'breaks' out of the loop, given the condition

H
e
l
l
o

W
o

In [ ]:
my_string = "Hello World"

for letters in my_string:
    if letters == "e":
        continue
    print(letters)

# continues but skips the letter.

H
l
l
o

W
o
r
l
d

In [ ]:
i = 0
while i < 5:
    if i == 3:
        break
    print(i)
    i = i + 1

0
1
2

## Most used built-in functions in Python

### 1) Range function

In [ ]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for num in range(3, 10):
    print (num)

3
4
5
6
7
8
9

In [ ]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]

range(10)
list(range(10))
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2) Enumerate
### it gives us an index count and the object itslef

In [ ]:
word = "batman"

for items in word:
    print(items)

b
a
t
m
a
n

In [ ]:
for items in enumerate(word):
    print(items)

(0, 'b')
(1, 'a')
(2, 't')
(3, 'm')
(4, 'a')
(5, 'n')

In [ ]:
for a,b in enumerate(word):
    print(a,b)

0 b
1 a
2 t
3 m
4 a
5 n

In [ ]:
for a, b in enumerate(word):
    print(a)
    print(b)
    print("\n")

0
b


1
a


2
t


3
m


4
a


5
n

### 3) Zip

In [ ]:
list1 = [1,2,3,4,5]
list2 = ["a","b","c","d","e"]
list3 = ["a","b","c"]

In [ ]:
list4 = zip(list1, list2)

In [ ]:
print(list4)

<zip object at 0x7f9e57647e60>

In [ ]:
for items in zip(list1, list2):
    print (items)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [ ]:
for a,b in zip(list1, list2):
    print (a,b)

1 a
2 b
3 c
4 d
5 e

In [ ]:
for items in zip(list1, list2, list3):
    print (items)

(1, 'a', 'a')
(2, 'b', 'b')
(3, 'c', 'c')

In [ ]:
for a,b,c in zip(list1, list2, list3):
    print (a,b,c)

1 a a
2 b b
3 c c

In [ ]:
for a,b,c in zip(list1, list2, list3):
    print (b)

a
b
c